<div *ngIf="!gameStarted">
    <div *ngIf="challengedUser">
        Waiting for the player to accept
    </div>

    <div *ngIf="gameToken">
        somebody has challenged you
        <button class="btn btn-primary" (click)="acceptChallenge()">Accept</button>
    </div>
</div>

<div *ngIf="gameStarted">

    <div class="game-board">

        <ng-template ngFor let-f [ngForOf]="board">
            <button class="btn cst"
                    [disabled]="f.fieldState!=0 || gameFinished"
                    [class.cst-free]="f.fieldState==0"
                    [class.cst-mine]="isFieldMine(f.fieldState) && f.fieldState!=0"
                    [class.cst-enemy]="!isFieldMine(f.fieldState) && f.fieldState!=0"
                    (click)="makeMove(f.x)">
            </button>
        </ng-template>


    </div>
</div>


<div class="modal fade" id="winner-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div *ngIf="gameFinished">
                    Game won by {{ winner.username }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="redirectToMainPage()">Close</button>
            </div>
        </div>
    </div>
</div>
