<div *ngIf="!gameStarted">
    <div *ngIf="challengedUser">
        Waiting for the player to accept
    </div>

    <div *ngIf="gameToken">
        somebody has challenged you
        <button class="btn btn-primary" (click)="acceptChallenge()">Accept</button>
    </div>
</div>

<div>
    <!--*ngIf="gameStarted"-->
    Game is in progress

    <div class="game-board">

        <ng-template ngFor let-f [ngForOf]="board">
            <button class="btn cst"
                    [disabled]="f.fieldState!=0 || !gameFinished"
                    [class.cst-free]="f.fieldState==0"
                    [class.cst-mine]="f.fieldState==1"
                    [class.cst-enemy]="f.fieldState==2"
                    (click)="makeMove(f.x)">
            </button>
        </ng-template>

        <div *ngIf="gameFinished">
            Game won by {{ winnerId }}
        </div>
    </div>
</div>
