<div *ngIf="!gameStarted">
    <div *ngIf="challengedUser">
        Waiting for the player to accept
    </div>

    <div *ngIf="gameToken">
        somebody has challenged you
        <button class="btn btn-primary" (click)="acceptChallenge()">Accept</button>
    </div>
</div>

<div>
    <!--*ngIf="gameStarted"-->
    Game is in progress

    <div class="game-board">

        <!--<ng-template ngFor let-array [ngForOf]="gameBoard" let-y="index">
            <ng-template ngFor let-state [ngForOf]="array" let-x="index">
                <button class="btn cst" [disabled]="state!=0" [class.cst-free]="state==0" [class.cst-mine]="state==1" [class.cst-enemy]="state==2">
                    
                </button>
            </ng-template>
        </ng-template>-->

        <!--<button class="btn cst cst-free"></button>
        <button class="btn cst cst-free"></button>
        <button class="btn cst cst-free"></button>
        <button class="btn cst cst-free"></button>
        <button class="btn cst cst-free"></button>
        <button class="btn cst cst-free"></button>
        <button class="btn cst cst-free"></button>
        <button class="btn cst cst-free"></button>
                               
        <button class="btn cst cst-free"></button>
        <button class="btn cst cst-free"></button>
        <button class="btn cst cst-mine"></button>
        <button class="btn cst cst-mine"></button>
        <button class="btn cst cst-mine"></button>
        <button class="btn cst cst-mine"></button>
        <button class="btn cst cst-free"></button>
        <button class="btn cst cst-free"></button>
                               
        <button class="btn cst cst-free"></button>
        <button class="btn cst cst-free"></button>
        <button class="btn cst cst-free"></button>
        <button class="btn cst cst-enemy"></button>
        <button class="btn cst cst-enemy"></button>
        <button class="btn cst cst-enemy"></button>
        <button class="btn cst cst-enemy"></button>
        <button class="btn cst cst-enemy"></button>-->

    </div>
</div>
