<div class="row mx-2 mt-2 justify-content-center">
    <div class="col py-3 shadow bg-white rounded">
        <h3 class="text-center">Conversations</h3>
        <hr class="py-1" />
        <h4>Most recent</h4>

        <div *ngFor="let conv of activeConversations" class="d-flex py-2 my-2 conversation-badge" (click)="navigateToConversation(conv.id)">
            <div class="ml-2">
                <strong class="my-auto"> {{ conv.title }} </strong>
                <p class="my-auto">
                    <small>With: {{ displayParticipants(conv) }}</small>
                </p>
            </div>
            <div class="ml-auto mr-2 my-auto">
                <i class="fas fa-2x fa-fw text-secondary" [ngClass]="isGroupChat(conv)? 'fa-users' : 'fa-user' "></i>
            </div>
        </div>

        <button class="btn btn-outline-primary" data-toggle="collapse" data-target="#new-chat-form" [attr.aria-expanded]="expanded" (click)="expand()">
            New conversation
        </button>

        <div id="new-chat-form" class="collapse">
            <button *ngFor="let u of users" (click)="createConversation(u.id)">{{u.username}}</button>

            <app-conversation-start-form></app-conversation-start-form>
        </div>
    </div>
</div>
