<div class="row mx-2 mt-2 justify-content-center">
    <div class="col py-3 shadow bg-white rounded">

        <div class="d-flex">
            <h3 class="m-0">Chat</h3>
            <button class="btn btn-link px-0 ml-auto" routerLink="/conversations">Go to all conversations</button>
        </div>

        <hr class="py-1" />
        <p class="text-justify">
            Thanks to our application you can connect with just anyone around the globe.
            Click the link below and start chatting right now.
            It has never been easier!
        </p>
        <hr />

        <button class="btn btn-link px-0" data-toggle="collapse" data-target="#new-chat-form" [attr.aria-expanded]="expanded" (click)="expand()">
            <i class="fas mr-1" [ngClass]="expanded ? 'fa-minus' : 'fa-plus' "></i>
            Create new conversation
        </button>


        <div id="new-chat-form" class="collapse">
            <app-conversation-start-form></app-conversation-start-form>
        </div>
    </div>

</div>

<div class="row mx-2 mt-2 justify-content-center">
    <div class="col py-3 shadow bg-white rounded">
        <div class="d-flex">
            <h3 class="m-0">Gaming</h3>
            <button class="btn btn-link px-0 ml-auto" routerLink="/gaming">Open gaming centre</button>
        </div>
        <hr class="py-1" />
        <p class="text-justify">
            Challenge your friends in one of our games! Climb up the leaderboard and become the best!
        </p>
    </div>
</div>
