<div class="row mx-2 mt-2 justify-content-center">
    <div class="col py-3 shadow bg-white rounded">
        <h3 class="text-center">Conversations</h3>
        <hr class="py-1" />
        <h4>Most recent</h4>

        <!--temporary-->
        <div class="d-flex py-2 my-2" style="border: solid 1px black;">
            <div class="ml-2">
                <strong class="my-auto">Private things</strong>
                <p class="my-auto">
                    <small>With: Bran Stark</small>
                </p>
            </div>
            <div class="ml-auto mr-2 my-auto">
                <i class="fas fa-user fa-2x fa-fw text-secondary"></i>
            </div>
        </div>

        <div class="d-flex py-2 my-2" style="border: solid 1px black;">
            <div class="ml-2">
                <strong class="my-auto">School chatroom</strong>
                <p class="my-auto">
                    <small>Bran Stark, Jon Snow and 3 others</small>
                </p>
            </div>
            <div class="ml-auto mr-2 my-auto">
                <i class="fas fa-users fa-2x fa-fw text-secondary"></i>
            </div>
        </div>

        <div class="d-flex py-2 my-2" style="border: solid 1px black;">
            <div class="ml-2">
                <strong class="my-auto">New messages</strong>
                <span class="badge badge-pill badge-warning ml-1">7</span>
                <p class="my-auto">
                    <small>Cersei Lannister and 5 others</small>
                </p>
            </div>
            <div class="ml-auto mr-2 my-auto">
                <i class="fas fa-users fa-2x fa-fw text-warning"></i>
            </div>
        </div>
        <!--temporary-->

        <button class="btn btn-primary" data-toggle="collapse" data-target="#new-chat-form" [attr.aria-expanded]="expanded" (click)="expand()">
            New conversation
        </button>

        <div id="new-chat-form" class="collapse">
            <button *ngFor="let u of users" (click)="createConversation(u.id)">{{u.username}}</button>
        </div>
    </div>
</div>
